/*nav bar*/
ul {
list-style-type: none;
margin: 0;
padding: 18px 2%;
overflow: hidden;
background-color: rgba(0,0,0,0.3);
position: fixed;
top: 0;
width: 100%;
}

/*items on nav bar*/
li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 18px;
text-decoration: none;
font-size: 22px;
font-weight: bold;
letter-spacing: 2px;
}

/*hover over items on nav bar*/
li a:hover {
background-color: #8F663C;
padding: 15px 18px;
}

/*title*/
#website{
  font-size: 60px;
  font-family: monospace;
  color: #8F663C;
  margin-top: 60px;
  text-align: center;
}

/*description of project 2018*/
#description1{
  font-size: 30px;
  font-family: monospace;
  color: #888;
  padding: 20px;

}
