/*text over image*/
.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    padding: 0px;
}


        /* Centered text */
      .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 70px;
            font-weight: 100;
            font-family: monospace;
        }

        /*horizontallines on the side of text*/
        .centered:before, .centered:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 2px;
            content: '\a0';
            background-color: white;
        }
        .centered:before {
            margin-left: -50%;
            text-align: right;
        }
        .color {
            background-color: #ccc;
        }


/*Navigation bar */
ul {
list-style-type: none;
margin: 0;
padding: 18px 2%;
overflow: hidden;
background-color: rgba(255,255,255,0.5);
position: fixed;
top: 0;
width: 100%;
}

/*items on nav bar*/
li {
float: left;
}

li a {
display: block;
color: #8F663C;
text-align: center;
padding: 15px;
text-decoration: none;
font-size: 23px;
font-weight: bold;
letter-spacing: 2px;
}

/*hover over items on nav bar*/
li a:hover {
background-color: #AAAAAAAA;
padding: 15px 17px;
}

.vl {
  border-left: 1px solid #888;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 670px;
}


/*left side of page*/
#col1{
background-color: white;
width:50%;
float: left;
}

#education {
font-size: 50px;
font-family:sans-serif;
font-weight: lighter;
color: #8F6B46;
float: left;
margin-left: 75px;
}

#education-para{
font-size: 30px;
font-family:sans-serif;
font-weight: lighter;
color: #444;
text-align: left;
margin-left: 75px;
}

#rgu{
font-size: 27px;
font-family:sans-serif;
font-weight: lighter;
color: #444;
position: relative;
text-align: justify;
margin-left: 75px;
margin-top: 0px;
}

#date{
font-size: 20px;
font-family:sans-serif;
font-weight: lighter;
 color: #333;
 background-color: rgb(218,218,218);
 height: 20px;
 width: 270px;
 margin-top: 20px;
 margin-bottom: 10px;
 margin-left: 75px;
 margin-right: auto;
 text-align: justify;
}

#secondary{
font-size: 30px;
font-family:sans-serif;
font-weight: lighter;
color: #444;
text-align: left;
margin-left: 75px;
}

#flannans{
font-size: 27px;
font-family:sans-serif;
font-weight: lighter;
color: #444;
position: relative;
text-align: justify;
margin-left: 75px;
}

#date2{
font-size: 20px;
font-family:sans-serif;
font-weight: lighter;
 color: #333;
 background-color: rgb(218,218,218);
 height: 20px;
 width: 270px;
 margin-top: 20px;
 margin-bottom: 10px;
 margin-left: 75px;
 margin-right: auto;
 text-align: justify;
}

#skills {
font-size: 50px;
font-family:sans-serif;
font-weight: lighter;
color: #8F6B46;
float: left;
margin-left: 75px;
margin-top: 150px;
}

#software{
  font-size: 30px;
  font-family:sans-serif;
  color: #444;
  text-align: left;
  margin-left: 75px;
}

#softwarelist{
  font-size: 20px;
  font-family:sans-serif;
  font-weight: lighter;
  color: #444;
  text-align: left;
  margin-left: 100px;
  margin-top: -30px;
}

#design{
  font-size: 30px;
  font-family:sans-serif;
  color: #444;
  text-align: left;
  margin-left: 75px;
}

#designlist{
  font-size: 20px;
  font-family:sans-serif;
  font-weight: lighter;
  color: #444;
  text-align: left;
  margin-left: 100px;
  margin-top: -30px;
}

#languages{
  font-size: 30px;
  font-family:sans-serif;
  color: #444;
  text-align: left;
  margin-left: 75px;
}

#languageslist{
  font-size: 20px;
  font-family:sans-serif;
  font-weight: lighter;
  color: #444;
  text-align: left;
  margin-left: 100px;
  margin-top: -30px;
}




/*right side of page*/
    #col2{
    background-color: white;
    width:50%;
    float: right;
    }

    #experience {
    font-size: 50px;
    font-family:sans-serif;
    font-weight: lighter;
    color: #8F6B46;
    float: left;
    margin-left: 75px;
    margin-top: 60px;
    padding-bottom: 37px;
    }

    #internship{
    font-size: 30px;
    font-family:sans-serif;
    font-weight: lighter;
    color: #444;
    margin-left: 75px;
    float: left;
    margin-top: 20px;
    }

    #softwareinc{
    font-size: 27px;
    font-family:sans-serif;
    font-weight: lighter;
    color: #111;
    text-align: left;
    margin-top: 70px;
    margin-left: 75px;
    }

    #date3{
    font-size: 20px;
    font-family:sans-serif;
    font-weight: lighter;
     color: #333;
     background-color: rgb(218,218,218);
     height: 20px;
     width: 270px;
     margin-top: 20px;
     margin-left: 75px;
     text-align: justify;
    }

    #trainer{
    font-size: 30px;
    font-family:sans-serif;
    font-weight: lighter;
    color: #444;
    margin-left: 75px;
    float: left;
    margin-top: 20px;
    }

    #bmaf{
    font-size: 27px;
    font-family:sans-serif;
    font-weight: lighter;
    color: #444;
    margin-left: 75px;
    float: left;
    margin-top: 1px;
    }

    #date4{
    font-size: 20px;
    font-family:sans-serif;
    font-weight: lighter;
    color: #333;
    background-color: rgb(218,218,218);
    height: 20px;
    width: 270px;
    margin-left: 75px;
    margin-top: 150px;
    text-align: justify;
   }

   #interests {
   font-size: 50px;
   font-family:sans-serif;
   font-weight: lighter;
   color: #8F6B46;
   float: left;
   margin-left: 75px;
   margin-top: 150px;
   }

   #sports{
     font-size: 30px;
     font-family:sans-serif;
     color: #444;
     text-align: left;
     margin-left: 75px;
     font-weight: bold;
     margin-top: 25px;
   }

   #sportslist{
     font-size: 20px;
     font-family:sans-serif;
     font-weight: lighter;
     color: #444;
     text-align: left;
     margin-left: 100px;
     margin-top: -5px;
}

  #literature{
       font-size: 30px;
       font-family:sans-serif;
       color: #444;
       text-align: left;
       margin-left: 75px;
       font-weight: bold;
       margin-top: 25px;
     }

     #literaturelist{
       font-size: 20px;
       font-family:sans-serif;
       font-weight: lighter;
       color: #444;
       text-align: left;
       margin-left: 100px;
       margin-top: -5px;
     }


 /*horizontal lines*/
     hr {
      display: block;
      height: 2px;
      border: 0;
      border-top: 2px solid #ccc;
      width: 600px;
      margin-top: 25px;
     }
