/*text over image*/
.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    padding: 0px;
}


        /* Centered text */
      .centered {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 70px;
            font-weight: 100;
            font-family: monospace;
        }

        .centered:before, .centered:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 2px;
            content: '\a0';
            background-color: white;
        }
        .centered:before {
            margin-left: -50%;
            text-align: right;
        }
        .color {
            background-color: #ccc;
        }


/*Navigation bar */
ul {
list-style-type: none;
margin: 0;
padding: 20px 1000px;
overflow: hidden;
background-color: rgba(255,255,255,0.5);
position: fixed;
top: 0;
width: 100%;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 15px;
text-decoration: none;
font-size: 23px;
font-weight: bold;
letter-spacing: 2px;
}


li a:hover {
background-color: #AAAAAAAA;
padding: 15px;
}

.vl {
  border-left: 1px solid #888;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 670px;
}


/*Boxes*/
#col1{
background-color: white;
width:50%;
float: left;

}

.education {
font-size: 50px;
font-family:sans-serif;
font-weight: lighter;
color: #777;
float: left;
margin-left: 70px;
}

.education-para{
font-size: 30px;
font-family:sans-serif;
font-weight: lighter;
color: #444;
text-align: left;
margin-left: 70px;
}

.rgu{
font-size: 27px;
font-family:sans-serif;
font-weight: lighter;
color: #444;
position: relative;
text-align: justify;
margin-left: 70px;
}

.date{
font-size: 20px;
font-family:sans-serif;
font-weight: lighter;
 color: #333;
 background-color: rgb(218,218,218);
 height: 20px;
 width: 270px;
 margin-top: 20px;
 margin-bottom: 10px;
 margin-left: 70px;
 margin-right: auto;
 text-align: justify;
}

.secondary{
font-size: 30px;
font-family:sans-serif;
font-weight: lighter;
color: #444;
text-align: left;
margin-left: 70px;
}

.flannans{
font-size: 27px;
font-family:sans-serif;
font-weight: lighter;
color: #444;
position: relative;
text-align: justify;
margin-left: 70px;
}

.date2{
font-size: 20px;
font-family:sans-serif;
font-weight: lighter;
 color: #333;
 background-color: rgb(218,218,218);
 height: 20px;
 width: 270px;
 margin-top: 20px;
 margin-bottom: 10px;
 margin-left: 70px;
 margin-right: auto;
 text-align: justify;
}

hr {
  display: block;
      height: 2px;
      border: 0;
      border-top: 2px solid #ccc;
      width: 630px;
      padding-bottom: 20px;
    }


    #col1{
    background-color: white;
    width:50%;
    float: left;
    }

    .experience {
    font-size: 50px;
    font-family:sans-serif;
    font-weight: lighter;
    color: #777;
    float: left;
    margin-left: 50px;
    margin-top: 60px;
    }

    .internship{
    font-size: 30px;
    font-family:sans-serif;
    font-weight: lighter;
    color: #444;
    text-align: left;
    margin-left: 70px;
    }
